.codeSnippet {
  padding: 16px;
  margin: 0.5rem 0;
  border: 1px solid var(--border-color);
  border-radius: calc(var(--border-radius) / 2);
  background-color: transparent !important;
}
.inlineCode {
  padding: 2px 4px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.329);
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 0.9rem;
}
