.button{
  display: flex;
  align-items: center;
  background: hsl(var(--primary));
  color: white;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.button:hover {
  background-color: hsl(var(--primary) / 0.9);
}

.rightIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}