.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  width: fit-content;
  margin: 0px auto;
}

.title {
  font-size: 96px;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  line-height: 110.4px;
}

.message {
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: left;
}

.btnContainer {
  margin: 0px auto;
  width: fit-content;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  color: hsl(var(--background));
  background-color: hsl(var(--primary));
  border-radius: 0.25rem;
  text-decoration: none;
  padding: 12px 24px 12px 24px;
  gap: 4px;
  border-radius: 12px;
  display: flex;
  margin-top: 10px;
}

.button:hover {
  background-color: hsl(var(--link-color));
}
