.main {
  display: flex;
  flex-direction: column;
  height: inherit;
<<<<<<< HEAD
  position: relative;
  justify-content: space-between;
=======

>>>>>>> d44da61ca32635759333a7e80f475c76a1253ee8
  align-items: center;
  overflow-x: hidden;
}

.background {
  position: absolute;
  background-color: hsl(var(--backgroundImage));
  top: -18vh;
  height: 75vh;
  width: 150vw;
  transform: rotate(-8.17deg);
  z-index: -1;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.backgroundClipWrapper {
  display: flex;
  flex-direction: column;
  background: hsl(var(--primary));
  clip-path: polygon(0 0, 0 100%, 0% 100%, 100% 75%, 100% 0);
  color: white;
  height: max-content;
  width: 100%;
  padding-top: 64px;
  padding-bottom: 96px;
  align-items: center;
  color: white;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
<<<<<<< HEAD
  font-size: 6rem;
  font-weight: 800;
=======
  font-size: 5rem;
  font-weight: 900;
>>>>>>> d44da61ca32635759333a7e80f475c76a1253ee8
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.title > div {
  line-height: 115%;
  letter-spacing: -2px;
}
.jsonSchemaTitle {
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
  /* add some gap between the underline and text */
  text-underline-offset: 0.15em;
}
.subtitle1 {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.subtitle2 {
  font-size: 1.3rem;
}
.subtitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-bottom: 8px;
}

.footerText {
  font-weight: 700;
}
