.main {
  display: flex;
  flex-direction: column;
  height: inherit;

  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 64px;
  justify-content: center;
  align-items: center;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 5em;
}
.title {
  font-size: 6rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.title > div {
  line-height: 115%;
  letter-spacing: -2px;
}
.jsonSchemaTitle {
  color: hsl(var(--primary));
  text-decoration: underline;
  text-decoration-thickness: 0.075em;
  /* add some gap between the underline and text */

  text-underline-offset: 0.15em;
}
.subtitle1 {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.subtitle2 {
  font-size: 1.3rem;

  color: hsl(var(--text) / 0.5);
}
.subtitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

.mainBtn {
  font-weight: 800;
  font-size: 1.4em;
  background-color: hsl(var(--primary));
  color: white;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 8px;
  transition: gap 0.2s;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  padding-right: 18px;
}

.mainBtn:hover {
  gap: 16px;
}
.footer {
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}

.footerLogos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footerText {
  font-weight: 800;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
