.testCaseTab {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 2px 8px;
  border-radius: calc(var(--border-radius) / 2);
  /* border: 1px solid var(--border-color); */
  color: hsl(var(--text));

  cursor: pointer;
  font-size: small;
}
.testCaseTab:hover {
  background-color: hsl(var(--background2));
}
.activeTestCaseTab {
  background-color: hsl(var(--text) / 0.1);
}
.activeTestCaseTab.testCaseTab:hover {
  background-color: hsl(var(--text) / 0.1);
}
