.testCaseTab {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  padding: 2px 8px;
  border-radius: calc(var(--border-radius) / 2);
  /* border: 1px solid var(--border-color); */

  cursor: pointer;
  font-size: small;
}
.testCaseTab:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.activeTestCaseTab {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}
.activeTestCaseTab.testCaseTab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
