.codeEditor {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  height: 100%;
  overflow-y: auto;
}

.validateBtn {
  position: fixed;
  right: 10px;
  top: 10px;
}
