.goodToKnowBox {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: calc(var(--border-radius) / 2);
  background-color: hsl(var(--primary) / 0.03);

  margin-block: 16px;
}

.goodToKnowBoxTitle {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  font-size: small;
  padding: 6px 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border-top-right-radius: calc(var(--border-radius) / 2);
  border-top-left-radius: calc(var(--border-radius) / 2);
  font-weight: bold;
}

.goodToKnowBoxContent {
  padding: 4px 8px;
  border-bottom-right-radius: calc(var(--border-radius) / 2);
  border-bottom-left-radius: calc(var(--border-radius) / 2);
}
