.failedTestCasesHeader {
  color: red;
  font-weight: bold;
}

.failedTestCaseCode {
  border: 1px solid var(--border-color);
  font-family: monospace;
  width: fit-content;
  padding: 4px;
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
}
.failedTestCasesSubtitle {
  font-size: small;
}
.failedTestCasesHeaderWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.failedTestCasesTabs {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.failedTestCase {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.failedTestCaseResult {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.failedTestCaseResultWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.failedTestCaseResultTitle {
  font-size: small;
  font-weight: bold;
}
.failedTestCaseResultValue {
  font-size: small;
}

.failedTestCasesWindow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.failedTestCaseError {
  font-size: small;
}
