.navigationBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 8px;
  left: 8px;
  gap: 4px;
}
.wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
