.navigationBtnWrapper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  /* position: absolute; */
  bottom: 8px;
  left: 8px;
  gap: 4px;
  height: 100%;
}
.wrapper {
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
}
.mainArea {
  display: flex;
  flex-direction: row;
  flex: 9;
  height: 100%;
  overflow-y: auto;
  gap: 8px;
}
.navBar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
