.content {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  flex: 1;
  padding-right: 14px;
}
.contentWrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  padding: 16px;
  padding-right: 2px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  flex: 1;
  height: 100%;
}
