.footerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  width: 100%;
}

@media screen and (max-width:700px) {
  .footerLinks {
    flex-direction: column;
  }
}

.footerLink {
  color: hsl(var(--primary));
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-color: hsl(var(--primary) / 0.3);
}

.footerLink:hover {
  text-decoration-color: hsl(var(--primary));
}
