.TestCasesHeader {
  color: red;
  font-weight: bold;
}

.TestCaseCode {
  border: 1px solid hsl(var(--border-color));
  font-family: monospace;
  width: fit-content;
  padding: 4px;
  border-radius: calc(var(--border-radius) / 2);
  width: 100%;
  font-size: small;
  line-height: 1.3;
}
.TestCasesSubtitle {
  font-size: small;
}
.TestCasesHeaderWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.TestCasesTabsWrapper {
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  padding-inline: 4px;

  align-items: center;
  border-left: 1px solid hsl(var(--text) / 0.1);
  border-right: 1px solid hsl(var(--text) / 0.1);
}
.TestCasesTabsWrapper::-webkit-scrollbar {
  display: none;
}
.TestCasesTabs {
  display: flex;
  width: auto;
  min-width: min-content;

  flex-direction: row;
  gap: 8px;
}

.scrollButton {
  border-radius: 50%;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollButton:hover {
  background-color: hsl(var(--text) / 0.1);
}

.disabledScrollBtn {
  cursor: not-allowed;
  opacity: 0.5;
}

.TestCase {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.TestCaseResult {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
.TestCaseResultWrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.TestCaseResultTitle {
  font-size: small;
  font-weight: bold;
}
.TestCaseResultValue {
  font-size: small;
}

.TestCasesWindow {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.TestCaseError {
  font-size: small;
}
