.chapterItem {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  height: auto;
}

.chapterItemWrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  align-items: center;
  padding: 4px 12px;
  border-radius: 12px;
}

.chapterItemWrapper::before {
  position: absolute;
  content: "";
  display: block;
  width: 0.5px;

  height: 6px;
  background-color: hsl(var(--text) / 0.5);

  top: 0px;
  left: 33px;
}

.chapterItemWrapper::after {
  position: absolute;
  content: "";
  display: block;
  width: 0.5px;
  height: 6px;
  background-color: hsl(var(--text) / 0.5);
  left: 33px;

  bottom: 0px;
}

.completedChapterItemWrapper::after,
.activeChapterItemWrapper::after {
  background-color: hsl(var(--primary));
}

.activeChapterItemWrapper::before,
.completedChapterItemWrapper::before {
  background-color: hsl(var(--primary));
}
.chapterItem:first-child .chapterItemWrapper::before {
  display: none;
}

.chapterItem:last-child .closed::after {
  display: none;
}

.chapterItemWrapper:hover {
  background-color: hsl(var(--text) / 0.1);
}

.chapterItemNumber {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  color: hsl(var(--primary));
  border-radius: 50%;

  height: 42px;
  width: 42px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.chapterTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stepItem {
  list-style-type: none;
  padding: 4px;
  margin-left: 33px;
  padding-left: 16px;
  border-left: 1px solid hsl(var(--text) / 0.5);
  color: hsl(var(--text) / 0.75);
}
.stepItem:hover {
  text-decoration: underline;
}
.activeStep {
  border-left-width: 3px;
  border-left-color: hsl(var(--primary));
  color: hsl(var(--primary));
  font-weight: bold;
}
.active {
  background-color: hsl(var(--primary));
  color: hsl(var(--background));
}

.neutral {
  background-color: hsl(var(--primary) / 0.3);
  border: 1px solid hsl(var(--primary));
}

.completedStep {
  font-style: italic;
  color: hsl(var(--text) / 0.5);
  border-left-color: hsl(var(--primary));
}

.activeAndCompletedStep {
  font-style: italic;
  color: hsl(var(--primary));
  border-left-color: hsl(var(--primary));
}
