.output {
  width: 100%;
  border-radius: 16px;
  /* padding: 16px; */
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  border: 1px solid rgba(152, 152, 152, 0.668);
  overflow-y: hidden;
}

.title {
  font-size: small;
  padding: 0.5em 1em;
}

.header {
  border-radius: 16px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgb(242, 242, 242);
  color: black;
  width: 100%;
  border-bottom: 1px solid rgba(152, 152, 152, 0.668);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.invalid {
  color: red;
}

.outputBody {
  width: 100%;
  padding: 4px 16px;
  overflow-y: scroll;
  height: 100%;
  white-space: pre-wrap;
}

.valid {
  color: green;
  font-size: large;
}
.neutral {
  color: black;
}

.keyBindingsWrapper {
  padding-inline: 1em;
  display: flex;
  justify-content: center;
}
.failedTestCasesHeader {
  color: red;
}
