.output {
  width: 100%;

  /* padding: 16px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid hsl(var(--border-color));
  overflow-y: hidden;
  border-left: none;
}

.title {
  font-size: small;
  padding: 0.5em 1em;
}

.header {
  background-color: hsl(var(--background2));
  width: 100%;
  border-bottom: 1px solid rgba(152, 152, 152, 0.668);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.invalid {
  color: red;
}

.outputBody {
  width: 100%;
  padding: 4px 16px;
  overflow-y: scroll;
  height: 100%;
  white-space: pre-wrap;
}
.valid {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.validMessage {
  color: green;
  font-size: large;
}

.validSmallMessage {
  font-size: small;
}
.neutral {
  color: black;
}

.keyBindingsWrapper {
  padding-inline: 1em;
  display: flex;
  justify-content: center;
}
