.key {
  font-family: monospace;

  padding: 1px 5px;
  font-weight: 900;
  border-radius: 8px;
  background-color: hsl(var(--text) / 0.85);
  text-transform: capitalize;
  border: 2px solid hsl(var(--background) / 0.4);
  border-bottom: 4px solid hsl(var(--background) / 0.6);

  color: hsl(var(--background));
}

.keysWrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;

  justify-content: center;
}
.keyAndPlus {
  display: flex;
  gap: 6px;
}
.plus {
  display: flex;
  align-items: center;
  justify-self: center;
}
