.key {
  font-family: monospace;

  padding: 1px 5px;
  font-weight: bold;
  border-radius: 6px;
  background-color: hsl(var(--text));
  text-transform: capitalize;
  border: 1px solid hsl(var(--background) / 0.4);
  border-bottom: 2px solid hsl(var(--background) / 0.6);
  font-size: small;
  color: hsl(var(--background));
}

.keysWrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-size: small;
  justify-content: center;
}
.keyAndPlus {
  display: flex;
  gap: 6px;
}
.plus {
  display: flex;
  align-items: center;
  justify-self: center;
}
